//Подключение шрифта
@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}

//Адаптивный шрифт
@mixin adaptiv-font($pcSize, $mobSize, $maxSize) {
	$addSize: $pcSize - $mobSize;
	@if $maxSize==1 {
		//Только если меньше контейнера
		font-size: $pcSize + px;
		@media (max-width: #{$maxWidthContainer + px}) {
			font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
		}
	} @else if $maxSize==2 {
		//Только если больше контейнера
		font-size: $pcSize + px;
		@media (min-width: #{$maxWidthContainer + px}) {
			font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
		}
	} @else {
		//Всегда
		font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
	}
}

//Адаптивный отступ
@mixin adaptiv-value($indentType, $pcSize, $mobSize, $maxSize) {
	$addSize: $pcSize - $mobSize;
	@if $maxSize==1 {
		//Только если меньше контейнера
		#{$indentType}: $pcSize + px;
		@media (max-width: #{$maxWidthContainer + px}) {
			#{$indentType}: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
		}
	} @else if $maxSize==2 {
		//Только если больше контейнера
		#{$indentType}: $pcSize + px;
		@media (min-width: #{$maxWidthContainer + px}) {
			#{$indentType}: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
		}
	} @else {
		//Всегда
		#{$indentType}: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
	}
}

@mixin arrow-down() {
	&:before {
		content: "";
		position: absolute;
		top: 50%;
		right: 15px;
		width: 10px;
		height: 1.5px;
		background-color: #958a8e;
		transform: translateY(50%) rotate(-45deg);
	}
	&:after {
		content: "";
		position: absolute;
		top: 50%;
		right: 22px;
		width: 10px;
		height: 1.5px;
		background-color: #958a8e;
		transform: translateY(50%) rotate(45deg);
	}
}

@mixin arrow-down-toUp() {
	&:before {
		transform: translateY(50%) rotate(45deg);
	}
	&:after {
		transform: translateY(50%) rotate(-45deg);
	}
}

//? ========================================================================

@function elastic() {
	@return cubic-bezier(0.64, 0.57, 0.67, 1.53);
}

@function pxResponsive($f-min, $f-max) {
	$k: ($f-max - $f-min)/ ($maxWidthContainer - $mobWidth);
	$b: $f-min - $k * $mobWidth;

	$b: $b * 1px;

	@return calc(#{$k} * 100vw + #{$b});
}
