.news {
   // .news__wrapper
   &__wrapper {
   }
   // .news__title
   &__title {
   }
   // .news__body
   &__body {
   }
   // .news__item
   &__item {
   }
}

.item-news {
   display: flex;
   min-height: 150px;
   background-color: #fff;
   margin: 15px 0;
   border-radius: 10px;
   transition: all 0.2s ease;
   @media screen and (min-width: $md2+px) {
      &:hover {
         box-shadow: 0 5px 7px -1px rgba(34, 40, 49, 0.1);
      }
   }
   @media screen and (max-width: $md3 + px) {
      flex-direction: column;
      align-items: center;
   }
   // .item-news__image
   &__image {
      position: relative;
      flex: 0 1 20%;
      margin: pxResponsive(10, 20);
      @media screen and (max-width: $md3 + px) {
         flex: 0 1 auto;
         width: pxResponsive(270, 200);
         height: 200px;
         margin: 30px;
      }
   }
   // .item-news__text
   &__text {
      position: relative;
      flex: 0 1 80%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 30px pxResponsive(10, 30);
      @media screen and (max-width: $md3 + px) {
         flex: 0 1 100%;
      }
   }
   // .item-news__text-wrapper
   &__text-wrapper {
   }
   // .item-news__date
   &__date {
      position: absolute;
      top: 0;
      right: 0;
      padding: pxResponsive(0, 30) 20px;
      text-align: right;
   }
   // .item-news__title
   &__title {
      position: relative;
      display: inline-block;
      font-size: 20px;
      font-weight: 800;
      margin-bottom: 20px;
      color: $grey;
      &:after {
         content: "";
         position: absolute;
         bottom: -10px;
         left: 0;
         width: 0%;
         height: 2px;
         background-color: $yellow;
         transition: all 0.3s ease;
      }
      @media screen and (min-width: $md2+px) {
         &:hover {
            &:after {
               width: 100%;
            }
         }
      }
   }
   // .item-news__description
   &__description {
      line-height: 24px;
   }
}
