.catalogies {
   margin-right: auto;
   margin-left: auto;
   @media screen and (max-width: $md4+px) {
      max-width: 400px;
   }
   // .catalogies__wrapper
   &__wrapper {
   }
   // .catalogies__header
   &__header {
      margin-bottom: 20px;
   }
   // .catalogies__body
   &__body {
      position: relative;
      display: flex;
      @media screen and (max-width: $md3+px) {
         flex-direction: column;
      }
   }
   // .catalogies__row
   &__row {
      &:nth-child(1) {
         width: 310px;
         @media screen and (max-width: $md2+px) {
            width: 245px;
         }
         @media screen and (max-width: $md3+px) {
            width: 100%;
         }
      }
      &:nth-child(2) {
         width: calc(100% - 310px);
         margin: 0 20px;
         @media screen and (max-width: $md3+px) {
            width: 100%;
            margin: 0;
         }
      }
   }
   // .catalogies__title
   &__title {
      @media screen and (max-width: $md3+px) {
         text-align: center;
      }
   }
   // .catalogies__sort
   &__sort {
      margin-bottom: 20px;
      & > span {
         text-transform: uppercase;
         font-size: 13px;
         letter-spacing: 1px;
         font-weight: 800;
         margin-bottom: 10px;
         display: block;
      }
   }
   // .catalogies__filters
   &__filters {
      // position: relative;
      // flex: 0 1 300px;
      // padding-right: 5px;
      // @media screen and (max-width: $md2+px) {
      //    flex: 0 1 250px;
      // }
      @media screen and (max-width: $md3+px) {
         position: fixed;
         flex: 1 1 100%;
         width: 100%;
         height: 100%;
         top: 0;
         left: -100%;
         margin: 0;
         padding: 120px 30px 50px;
         transition: all 0.3s ease;
         overflow: auto;
         background-color: $white;
         z-index: 10;
         &._active {
            left: 0;
         }
      }
   }
   // .catalogies__catalog
   &__catalog {
      // flex: 0 1 calc(100% - 300px);
      // padding-left: 5px;
      // @media screen and (max-width: $md2+px) {
      //    flex: 0 1 calc(100% - 250px);
      // }
      // @media screen and (max-width: $md3+px) {
      //    flex: 0 1 100%;
      //    padding: 0;
      // }
   }
   // .catalogies__bages
   &__bages {
   }
}

.with-column-left {
   width: calc(100% - 300px);
   @media screen and (max-width: $md3+px) {
      width: 100%;
   }
   @media screen and (max-width: $md4+px) {
      max-width: 400px;
      margin: 0 auto;
      padding: 0 30px;
   }
}
.column-left {
   width: 300px;
   @media screen and (max-width: $md3+px) {
      max-width: 400px;
      width: 100%;
      margin: 0 auto;
   }
}

//HEADER BAGES ==========================================================================
.bages-filter {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   flex-wrap: wrap;
   margin-top: 10px;

   // .bages-filter__item
   &__item {
      margin: 5px;
      background-color: #ddd;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: all 0.1s elastic();
      @media screen and (min-width: $md2+px) {
         &:hover {
            transform: scale(1.03);
            .bages-filter__close {
               transform: rotate(-180deg) translate(0, 1.3px);
            }
         }
      }
      &._active {
         background-color: $yellow;
      }
   }
   // .bages-filter__name
   &__name {
      padding: 10px 20px;
      color: $black;
      font-weight: 800;
      text-transform: uppercase;
      font-size: 11px;
      white-space: nowrap;
   }
   // .bages-filter__item-reset
   &__item-reset {
      background-color: #ddd;
   }
   // .bages-filter__close
   &__close {
      margin-left: 7px;
      transition: all 0.3s elastic();
      &:before {
         position: relative;
         font-size: 10px;
         top: -1.3px;
      }
   }
}

//ФИЛЬТРЫ ==========================================================================
.filters-catalogies {
   //margin: -30px 0;
   // .filters-catalogies__mobile
   &__mobile {
      display: none;
      @media screen and (max-width: $md3+px) {
         display: flex;
         justify-content: space-between;
         padding: 0 10px 20px;
         font-weight: 800;
         font-size: 20px;
      }
   }
   // .filters-catalogies__close
   &__close {
   }
   // .filters-catalogies__name
   &__name {
   }
   // .filters-catalogies__item
   &__item {
      position: relative;
      margin: 30px 0;
   }
   // .filters-catalogies__title
   &__title {
      position: relative;
      display: flex;
      align-items: center;
      cursor: pointer;
      border-top: 1px solid #ddd;
      border-left: 1px solid #ddd;
      border-right: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      border-radius: 10px;
      padding: 20px 55px 20px 20px;
      background-color: $white;
      z-index: 2;
      &._active {
         border-radius: 10px 10px 0 0;
         border-bottom: none;
         @include arrow-down-toUp();
      }
      &._active-delay {
         border-bottom: none;
         border-radius: 10px 10px 0 0;
      }

      @include arrow-down();
   }
   // .filters-catalogies__label
   &__label {
      text-transform: uppercase;
      color: $grey;
      padding-right: 15px;
      font-weight: 800;
      letter-spacing: 1px;
      font-size: 13px;
   }
   // .filters-catalogies__decor
   &__decor {
      width: 100%;
      height: 0.1px;
      background-color: #958a8e;
   }
   // .filters-catalogies__body
   &__body {
      position: relative;
      display: none;
      padding: 10px 20px 15px;
      border-radius: 0 0 10px 10px;
      border-bottom: 1px #ddd solid;
      border-left: 1px #ddd solid;
      border-right: 1px #ddd solid;
      z-index: 2;
      background-color: $white;
   }
   // .filters-catalogies__footer
   &__footer {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      button {
         position: relative;
         width: 100%;
         padding: 15px 30px;
         border-radius: 10px;
         font-weight: 800;
         letter-spacing: 1px;
         text-transform: uppercase;
         font-size: 12px;
         transition: all 0.3s ease;
         overflow: hidden;
         &:before {
            content: "\e909";
            position: absolute;
            top: 50%;
            left: 30px;
            transform: translate(calc((100% + 30px) * -1), -50%);
            font-family: "icons";
            font-size: 16px;
            transition: all 0.3s ease;
         }
         @media screen and (min-width: $md2+px) {
            &:hover {
               padding: 15px 40px 15px 55px;
               &:before {
                  transform: translate(0, -50%);
               }
            }
         }
      }
   }
   // .filters-catalogies__apply
   &__apply {
      background-color: $yellow;
      margin-bottom: 10px;
      &._disable {
         pointer-events: none;
      }
   }
   // .filters-catalogies__cancel
   &__cancel {
      background-color: #ddd;
   }
   // .filters-catalogies__bage
   &__bage {
      @media screen and (max-width: $md2+px) {
         display: none;
      }
      position: absolute;
      right: 0;
      top: 50%;
      background-color: #ffb400;
      padding: 15px 30px;
      transform: translate(0, -50%);
      z-index: 1;
      border-radius: 0 10px 10px 0;
      font-size: 11px;
      text-transform: uppercase;
      font-weight: 800;
      transition: all 0.3s ease;
      &._active {
         transform: translate(100%, -50%);
      }
   }
}

//КАТАЛОГ ==========================================================================
.catalog-catalogies {
   display: flex;
   flex-wrap: wrap;
   margin: 0 -10px;
   // .catalog-catalogies__item
   &__item {
      margin: 10px;
      height: auto;
   }

   //.catalog-item
   .catalog-item {
      @media screen and (max-width: $md4+px) {
      }
      // .catalog-item__img
      &__img {
      }
      // .catalog-item__info
      &__info {
      }
   }

   // .catalog-catalogies__footer
   &__footer {
      margin-top: 15px;
      a {
         display: block;
         text-align: center;
         color: $black;
         width: 100%;
         padding: 15px;
         border-radius: 10px;
         background-color: $yellow;
         font-weight: 800;
         font-size: 12px;
         text-transform: uppercase;
         i {
            margin-right: 5px;
         }
         @media screen and (min-width: $md2+px) {
            &:hover {
               opacity: 0.8;
            }
         }
      }
   }

   .info-catalog__price {
      span {
         margin: 0;
      }
   }
}

.info-catalog {
   // .info-catalog__options
   &__options {
      display: flex;
      justify-content: space-between;
      margin: 10px 0;
   }
   // .info-catalog__wishlist
   &__wishlist {
      background-color: transparent;
      color: $orange;
      i {
         font-size: 18px;
      }
   }
   // .info-catalog__compare
   &__compare {
      padding: 5px 10px;
      background-color: $blue;
      border-radius: 10px;
      color: #fff;
      @media screen and (min-width: $md2+px) {
         &:hover {
            opacity: 0.8;
         }
      }
   }
}

// =================================
