//<FORM ()>====================================================================================================
.form {
	padding: pxResponsive(30, 25) pxResponsive(0, 25);
	margin: -20px 0;
	&__row {
	}
	&__column {
	}
	&__line {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 20px 0;
		@media screen and (max-width: 615px) {
			flex-direction: column;
			align-items: flex-start;
		}
		&._error {
			margin: 40px 0;
		}
	}
	&__input {
		max-width: 300px;
		@media screen and (max-width: 615px) {
			max-width: none;
		}
	}
	&__label {
		@media screen and (max-width: 615px) {
			margin-bottom: 10px;
		}
	}
	&__button {
		margin: 0 auto;
		@media screen and (max-width: 615px) {
			width: 100%;
			height: 50px;
			font-size: 14px;
		}
	}
	&__error {
		position: absolute;
		bottom: -20px;
		left: calc(100% - 300px);
		color: $orange;
		@media screen and (max-width: 600px) {
			left: 0;
		}
	}
}

//</FORM>====================================================================================================

//<BUTTONS (a.btn+tab)>====================================================================================================
.btn {
	display: inline-flex;
	padding: 0px 0px;
	@media (min-width: 992px) {
		&:hover {
		}
	}
	&._fw {
		width: 100%;
	}
}
//</BUTTONS>====================================================================================================

//<SELECT (sel+tab)>====================================================================================================
.select {
	position: relative;
	// .select__item
	&__item {
		position: relative;
	}
	// .select__title
	&__title {
		color: #000;
		border: 1px solid #d9d9d9;
		background-color: #fff;
		cursor: pointer;
		border-radius: 10px;
		padding: 7px 0px;
		@media (max-width: $md2+px) {
			font-size: 18px;
		}
	}
	// .select__value
	&__value {
		display: flex;
		font-size: 14px;
		height: 30px;
		padding: 0px 15px;
		align-items: center;
		justify-content: space-between;
		flex-direction: row-reverse;
		span {
			height: 1em;
			line-height: 12px;
			overflow: hidden;
			display: -webkit-box;
			-webkit-line-clamp: 1;
			-webkit-box-orient: vertical;
		}
		&:before {
			content: "\e90b";
			display: inline-block;
			transition: all 0.3s ease 0s;
			width: 11px;
			height: 7px;
			font-family: "icons";
			color: #958a8e;
			//background: url("../img/icons/check.svg") center / 100% no-repeat;
		}
	}
	&__input {
		width: 100%;
		background-color: transparent;
		height: 100%;
	}
	// .select__options
	&__options {
		max-height: 250px;
		overflow-y: auto;
		color: #000;
		display: none;
		position: absolute;
		top: 38px;
		border-radius: 0 0 10px 10px;
		min-width: 100%;
		left: 0;
		background-color: #fff;
		border-top: 0;
		border: 1px solid #d9d9d9;
		border-top: 0;
		font-size: 14px;
		padding: 10px 0px 5px 0px;
		// @media (max-width: $md2+px) {
		// 	font-size: 18px;
		// }
	}
	// .select__option
	&__option {
		cursor: pointer;
		padding: 5px 15px 15px;
		margin: 0px 0px 0px 0px;
		@media (min-width: 992px) {
			&:hover {
				background: #d9d9d9;
			}
		}
	}
	&._active {
		z-index: 5;
		.select__value {
			&:before {
				transform: rotate(-180deg) translateY(-5px);
			}
		}
		.select__options {
			display: block;
		}
	}
}
//</SELECT>====================================================================================================

//<INPUT (inp+tab)>====================================================================================================
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.input {
	border-radius: 7px !important;
	border: 1px solid #ced4da;
	width: 100%;
	height: 50px;
	display: block;
	padding: 0px 20px;
	background-color: #fff;
	font-size: 16px;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	&._focus {
		box-shadow: 0 0 0 0.2rem rgba($color: $yellow, $alpha: 0.25);
		border-color: $yellow;
	}
	&._error {
		box-shadow: 0 0 0 0.2rem rgba($color: $orange, $alpha: 0.25);
		border-color: $orange;
	}
}
textarea.input {
	resize: none;
	padding: 10px 20px;
	height: auto;
}
//</INPUT>====================================================================================================

//<CHECK (chk+tab)>====================================================================================================
//
._checkbox {
	position: relative;
	width: 18px;
	height: 18px;
	padding-left: 25px;
	color: #5f5f5f;
	line-height: 18px;
	cursor: pointer;
	margin: 10px 0;
	font-weight: 200;
	input {
		display: none;
	}
	&:before {
		content: "";
		left: 0;
		top: 0;
		width: 18px;
		height: 18px;
		border: 1px solid #a3a3a3;
		position: absolute;
		border-radius: 3px;
	}
	&._active {
		&:before {
			content: "\e920";
			font-family: icons;
			color: $orange;
			font-size: 12px;
			text-align: center;
			border: 1px $orange solid;
			//background: url('../img/checkmark.svg') center no-repeat;
			//background: url('../img/checkmark.svg') 50% / 90% no-repeat;
			//border: 5px $yellow solid;
		}
	}
}
//</CHECK>====================================================================================================

//<OPTIONS (opt+tab)>====================================================================================================
.options {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	// .options__item
	&__item {
		position: relative;
		cursor: pointer;
		&._error {
		}
	}
	// .options__input
	&__input {
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;
		left: 0;
		top: 0;
		visibility: hidden;
		&:checked + .options__text:before {
		}
		&:checked + .options__text:after {
			transform: scale(1);
		}
	}
	// .options__text
	&__text {
		display: inline-flex;
		align-items: center;
		position: relative;
		font-size: 16px;
		color: #ffffff;
		letter-spacing: -0.3px;
		line-height: calc(20 / 16);
		&:before {
			content: "";
			align-self: flex-start;
			margin: 0px 14px 0px 0px;
			flex: 0 0 20px;
			left: 0;
			top: 0;
			border-radius: 50%;
			width: 20px;
			height: 18px;
			background: #fff;
			border: 1px solid #a7a9ac;
		}
		&:after {
			content: "";
			transition: all 0.3s ease 0s;
			transform: scale(0);
			width: 10px;
			height: 10px;
			border-radius: 50%;
			background-color: #77243a;
			position: absolute;
			left: 5px;
			top: 4px;
		}
	}
}
//</OPTIONS>====================================================================================================

//<RATING>====================================================================================================
.rating-block {
	display: table;
	font-size: 0;
}
.rating {
	display: inline-block;
	position: relative;
	vertical-align: middle;
	&.edit .star {
		cursor: pointer;
	}
	.star {
		width: 17px;
		height: 14px;
		display: inline-block;
		position: relative;
		z-index: 3;
	}
}
.rating__line {
	position: absolute;
	width: 85px;
	height: 14px;
	top: 0;
	left: 0;
	background: url("../img/icons/bg_rating.svg") 0 0 no-repeat;
	z-index: 1;
	background-size: 85px 100%;
}
.rating__activeline {
	position: absolute;
	width: 0px;
	height: 14px;
	top: 0;
	left: 0;
	background: url("../img/icons/bg_rating_active.svg") 0 0 no-repeat;
	z-index: 2;
	background-size: 85px 100%;
}
.rating__value {
	display: inline-block;
	color: #1b3139;
	font-size: 14px;
	line-height: 13px;
	vertical-align: middle;
}
//</RATING>====================================================================================================

//<QUANTITY>====================================================================================================
.quantity {
	width: 88px;
	height: 40px;
	display: flex;
	border: 1px solid rgba(166, 166, 166, 0.45);
	// .quantity__button
	&__button {
		flex: 0 0 30px;
		position: relative;
		cursor: pointer;
		&::before,
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transition: all 0.3s ease 0s;
			margin: 0px 0px 0px -4.5px;
			background-color: #a6a6a6;
			width: 9px;
			height: 1px;
		}
		@media (min-width: $md2+px) {
			&:hover {
				&::before,
				&::after {
					background-color: rgba(0, 0, 0, 0.5);
				}
			}
		}
		// .quantity__button_plus
		&_plus {
			&::before {
				transform: rotate(-90deg);
			}
		}
		// .quantity__button_minus
		&_minus {
		}
	}
	// .quantity__input
	&__input {
		flex: 1 1 auto;
		input {
			height: 100%;
			color: #a6a6a6;
			font-size: 12px;
			width: 100%;
			text-align: center;
		}
	}
}
//</QUANTITY>====================================================================================================

//<RANGE>====================================================================================================

//</RANGE>====================================================================================================

//</RADIO>====================================================================================================
._radio {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	div {
		position: relative;
		cursor: pointer;
		padding-left: 25px;
		line-height: 16px;
		margin-bottom: 12px;
		font-size: 15px;
		font-weight: 200;
		&:last-child {
			margin-bottom: 0px;
		}
		input {
			display: none;
		}
		&:before {
			position: absolute;
			left: 0;
			top: 0;
			width: 16px;
			height: 16px;
			content: "";
			border: 1px solid #7f7f7f;
			border-radius: 50%;
		}
		&._active {
			// &:before{background: url('../img/icons/option.png') center no-repeat;}
			&:before {
				border: 5px $yellow solid;
			}
		}
	}
}
//</RADIO>====================================================================================================

//</COUNTER>====================================================================================================
.counter {
	display: flex;
	button {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 25px;
		height: 25px;
		border-radius: 50%;
		background-color: #ddd;
		font-weight: 800;
		transition: all 0.1s ease;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		&:before {
			font-size: 25px;
		}
	}
	button.counter__asc,
	button.counter__desc {
		margin: 2.5px;
		width: 20px;
		height: 20px;
	}
	// .counter__asc
	&__asc {
		cursor: pointer;
		color: $grey;

		@media screen and (min-width: $md2+px) {
			&:hover {
				color: $yellow;
				background-color: $grey;
			}
		}
	}
	// .counter__count
	&__count {
		margin: 0 5px;
		cursor: default;
	}
	// .counter__desc
	&__desc {
		cursor: pointer;
		color: $grey;

		@media screen and (min-width: $md2+px) {
			&:hover {
				color: $yellow;
				background-color: $grey;
			}
		}
	}
}
//</COUNTER>====================================================================================================
