<div id="search" class="header__search search-header" data-da=".menu__content, 991.98, 0">
  <button type="button" class="search-header__icon _icons-header _icon-search"></button>
  <input class="search-header__input" type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}">
  <span class="search-header__close _icons-header _icon-close"></span>
</div>
